<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
</head>

<div class="layout">
  <aside class="sidebar" [class.closed]="isClosed">

    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>

    <div class="logo-area">
      <span *ngIf="!isClosed" class="logo-text">FrotasPRO</span>
    </div>

    <nav class="menu">

      <a
        class="menu-item"
        routerLink="dashboard-home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon fas fa-chart-line"></i>
        <span *ngIf="!isClosed">Dashboard</span>
      </a>

      <a
        class="menu-item"
        routerLink="colaboradores"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon fas fa-user"></i>
        <span *ngIf="!isClosed">Colaboradores</span>
      </a>

      <li class="menu-item submenu-wrapper" [class.open]="submenuVeiculosAberto">

        <button class="menu-btn" (click)="toggleSubmenuVeiculos()">
          <i class="icon fas fa-truck"></i>

          <span class="menu-text" *ngIf="!isClosed">Veículos</span>

          <i
            class="fas chevron"
            *ngIf="!isClosed"
            [ngClass]="{
              'fa-chevron-down': !submenuVeiculosAberto,
              'fa-chevron-up': submenuVeiculosAberto
            }">
          </i>
        </button>

        <ul class="submenu" *ngIf="submenuVeiculosAberto && !isClosed">
          <li routerLink="veiculos" routerLinkActive="active">Lista de Veículos</li>
          <li routerLink="categorias" routerLinkActive="active">Categorias</li>
        </ul>
      </li>

      <a class="menu-item" routerLink="cargas" routerLinkActive="active">
        <i class="icon fas fa-box"></i>
        <span *ngIf="!isClosed">Cargas</span>
      </a>

      <a
        class="menu-item"
        routerLink="metas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon fas fa-chart-bar"></i>
        <span *ngIf="!isClosed">Metas</span>
      </a>
      <a
        class="menu-item"
        routerLink="relatorios"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon far fa-file-alt"></i>
        <span *ngIf="!isClosed">Relatorios</span>
      </a>

    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
