.metas-page {
  padding: 20px;
}

.top-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.top-actions input {
  flex: 1;
  padding: 8px;
}

.btn-add {
  background: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}

.form-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.form-card input,
.form-card select {
  width: 100%;
  padding: 7px;
  margin-bottom: 12px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

.bnt-form{
  background: #1976d2;
  color: #000;
  padding: 8px 14px;
  border-radius: 6px;
}

.bnt-form:hover{
  background: #83bcf5;
  transform: scale(1.05);
}

.meta-list {
  list-style: none;
  padding: 0;
}

.meta-item {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f7f7f7;
  border: none;
}

.expand {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 0 15px;
}

.expand.expanded {
  height: auto;
  padding: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn-row {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.edit {
  padding: 8px 14px;
  border-radius: 6px;
  background: #1976d2;
  color: #000;
}

.delete {
  background: #1976d2;
  color: #000;
  padding: 8px 14px;
  border-radius: 6px;
}

/* Estilo padrão dos botões */
button {
  cursor: pointer;
  transition: 0.25s ease;
}

button.btn-add:hover {
  background: #125ba1;
  transform: scale(1.03);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* Botões de ação da tabela */
.table-actions button {
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
  padding: 6px 10px;
  border-radius: 6px;
}

.edit:hover {
  background: #83bcf5;
  transform: scale(1.05);
}

.delete:hover {
  background: #83bcf5;
  transform: scale(1.05);
}
